h1 {
	font-size: 150%;
	font-weight: bold;
	font-variant: normal;
}

h2 {
	font-size: 120%;
	font-weight: bold;
	font-variant: italic;
}

new {
	font-size: 120%;
	font-weight: bold;
	font-variant: italic;
	color: #383;
}


p {
	font-size: 100%;
	text-align: left;
	margin-left: 10px;
	text-indent: -10px;
	padding-left: 10px;
}

.contact {
	font-size: 80%;
	text-align: left;
}

body {
        font-family: Verdana, Geneva, sans-serif;
	background-color: #F0F8FF;
}